<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714995425604-mtm2gjssr92nb67if9npa0c17646v5d9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714995425604-mtm2gjssr92nb67if9npa0c17646v5d9</string>
	<key>API_KEY</key>
	<string>AIzaSyBBx48ddFaCiiHmxoQxh88QIiN9wlGPcUk</string>
	<key>GCM_SENDER_ID</key>
	<string>714995425604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myDartFlutter</string>
	<key>PROJECT_ID</key>
	<string>finalprojectebook</string>
	<key>STORAGE_BUCKET</key>
	<string>finalprojectebook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714995425604:ios:cc72c20d98b695fad4f711</string>
</dict>
</plist>